body div div div.container-fluid img{
  width: 70%;
  height: 10em;
  position: absolute;
  top: 0; 
  bottom: 0;
  left: 17%; 
  right: 0;
  margin: auto;
  opacity:0.10;
   -moz-opacity: 0.10;
   filter: alpha(opacity=10);
}

div.navbar-header a.navbar-brand img{
  width: 12em;
  height: 120%;
}

form ul.alert{
  list-style: none;
  padding: 5px;
  margin-bottom: 0px;
  border: 0px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.inline{
  display : inline;
}

.page-header.title{
  color : #23527c !important;
  padding-bottom: 0px;
}

.navbar{
  margin-bottom: 0px !important;
}

.ui-widget-header{
  background-color: #23527c !important;
  background-image: none !important;
  border: #23527c !important;
}

.panel-default>.panel-heading {
  background-color: #337ab7;
  border-color: #204d74;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.login-panel {
  border-radius: 10px;
}