html, body{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.centralize{
   margin:35% auto;
}

.dis-inline{
   display: inline;  
}

.flo-left{
  float: left;
}
.dis-none{
  display: none;
}

.title{
    border-bottom: 1px solid #ebebe0;
    padding: 10px;
	text-align: center;
}


.vmsis-list-box{
  max-height: 450px;
  background-color : white;    
  
}

.vmsis-list-box input{
    width : 100% !important;
}

.vmsis-list-box ul{
   width : 100%;
   margin : 0px;
   padding : 3px;   
   max-height : 450px;
   overflow : auto;
   border-radius : 4px;
   border : 1px solid darkgray;
   box-shadow: darkgray 4px 4px;   
}

.vmsis-list-box li {
   list-style: none;
   width : 100%;
   margin : 0px;
}

.vmsis-list-box ul li:hover{
    
    background-color : #3399FF;
    color : white;
    cursor : pointer;
}

.vmsis-text-box-item-active{
    background-color : blue;
    color : white;
}


.contextmenu{
   background-color: white;
   border: 1px solid #F3F3ED;
   float:left;
   position:absolute;
   border-radius: 2px;
   z-index: 10000;
   box-shadow: 5px 5px 5px #888888; 
   display: none;
   
}
.contextmenu div{
  /*background-color: #F3F3ED;*/
  background-color: ghostwhite;
  border-bottom: 1px solid white;
  padding: 3px;
}

.contextmenu div:hover{
   /*background-color: #DBDBD5;   */
   background-color: #f5f5f5;
   cursor: pointer;
}

.no-overflow{
   overflow:none !important;
}
.auto-overflow{
  overflow: auto;
}
.hid-overflow{
  overflow: hidden !important;
}
.popup{
   /*float:left;*/
   height: 100%;
   width: 100%;
   display:none;
   position:fixed;   
   z-index: 10000;
   bottom: 0;
   left: 0;
   right: 0;
   top: 0;
}

.popup-body{    
 	background-color: ghostwhite;
	height:auto;
    overflow: auto;
	box-shadow: gray 0px 10px 10px 0px ;
	z-index: 10001;
	padding: 5px;
	width:auto;
	margin: 12% auto;
	opacity:0.99;
}
.popup.full > .popup-body{
	height:99% !important;
	width:99% !important;
	margin: 3px auto !important;    
}

.popup.full > .popup-body.white{
   background-color:white;
}

.no-top-margin{
  margin-top: 0px !important;
}

.small-radius{
   border-radius: 4px;
}

.radius{
  border-radius: 10px;
}

.blue{
   color:#66a2ff;
}

.bck-blue{
  background-color: #66a2ff;
}
.green{
 color:#004d00;
}

.light-olive{   
   color:#a3a376;
}

.yellow{
  color: #cccc00;
}

.bck-yellow{
   background-color: #cccc00;
}

.red{
  color:#990000;
}
.black{
  color:black;
}

.hover-red:hover{
  color:#990000;
}

.hover-blue:hover{
  color:#66a2ff;
}

.bck-hover-blue:hover{
  background-color:#66a2ff;
}


.hover-yellow:hover{
  color: #cccc00;
}

.bck-hover-yellow:hover{
  background-color: #cccc00;
}


.background-white{
   background-color:white;
}

.no-radius{
   border-radius: 0px !important;
}

.button{
  
  float:left;
  display: block;  
  height: 40px;
  margin:3px ;
  border: 1px solid aliceblue;
  background-color: ghostwhite;
  cursor: pointer;
  text-align:center;
  color:white;
  font-size: 14px;
  
}

.button:hover{
   background-color:white;
   color:#66a2ff;  
}

a.button{   
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 20px;
   display:table-cell;
   vertical-align:middle;

}

.button.full-width{
    width: 98%;
}

a.button.full-width{
   height:28px;
   padding-left: 0px;
   padding-right: 0px;
   padding-top: 8px;	  
}

.button.button-blue{
    background-color:#66a2ff;
}
.button.button-blue:hover{
    color:#66a2ff;
	background-color:white;   
	border: 1px solid ghostwhite;
}

.button.button-red{
    background-color:#990000;
	color:white;	
}

.button.button-red:hover{
    color:#990000;
	background-color:white;   
	border: 1px solid ghostwhite;
}

.button.button-green{
    background-color:#004d00;
}


.button.button-green:hover{
    color:#004d00;
	background-color:white;   
	border: 1px solid ghostwhite;
   
}

.button.button-orange{
  background-color: #ff9900;
}

.button.button-orange:hover{
  color: #ff9900;
  background-color:white;   
  border: 1px solid ghostwhite;
  
}

/*.tree-view{
  height: 90%;
}

.tree-view>ul{
  height: 100%;
}*/

.tree-view ul{
   list-style:none;
   padding-left: 25px;
   
 }

.tree-view ul li{
  cursor:pointer; 
  padding: 2px; 
}

.tree-view ul li ul{
   display:none;
}

.tree-view .node-active{
   display:block;
}

.tree-view .has-child:before{
   content: "+";
   padding-right: 2px;
   padding-left: 2px;
   margin-right: 3px;
   border: 1px solid white;
   background-color: #DBDBD5;
   border-radius: 5px;
}

.tree-view .has-child.opened:before{
   content: "-" !important;
   padding-right: 3px;   
   padding-left: 3px;
   margin-right: 5px;
   
}

.has-no-child.selected, .has-no-child.selected *{
  color: blue !important;
}

.cur-pointer{
  cursor: pointer;
}


.sel-imglist{
  height: 64px;
  width: 64px;
  border: 1px solid #337ab7;
  border-radius: 5px;
  background-color: ghostwhite;
}

.popup-dlg{
   width: 30%;   
}

.popup-filter{
  position: absolute !important;
  margin-left:25%;  
  width: 40% !important;  
  height: 90%;
}

.popup-dlg .content-center{
   display: inline;
   float: left;
   width: 50%;
   text-align: center;
   margin: 0px 40% 0px;  
}

.fixed{
  position: fixed;
}

.fixed-header{
  position: fixed;
  box-shadow: #f2f2f2 0px 2px 2px;
  background-color:ghostwhite;
  width: inherit;
}

.bigger-on-hover:hover{
  box-shadow: gray 0px 10px 10px 0px ;  
}

/*aba*/

.hidden {
    display: none;
}
.tabs-group,
.body-group {
    float: left;
    width: 100%;
}
.body-group {
    height: 100%;
}
.tab {
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
    float: left;
    padding: 3px;
    margin-top: 15px;
    min-width: 15%;
    min-height: 35px;
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    /*background-color: #F3F3ED;*/
    background-color:#f8f8f8;
    box-shadow: 2px -2px 1px 0px gray;
}
.tab:hover {
    cursor: pointer;
    color: blue;
}
.tab.active {
    border: none;    
    position: relative;
}
.page-control {
    height: 90%;
}
.tab-body {
    display: none;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    overflow: auto;
    box-shadow: 0px 0px 2px 1px gray;
}
.tab-body.active {
    display: inline;
    float: left;
    width: 98%;
    padding: 3px;
    background-color: #f8f8f8;
}
.tab:first-of-type {
    margin-left: 35px;
}
