{% extends 'base.html' %}
{% load staticfiles %}

{% block js %}
  {% for media in JsFiles %}
    <script type="text/javascript" src='{% static media %}'></script>
  {% endfor %}
{% endblock %}

{% block conteudo %}
<div class="span9" id="content">
  <div class="row-fluid">
    <!-- block -->
    <div class="block">
      <div class="navbar navbar-inner block-header">
        <div class="muted pull-left">Form Example</div>
      </div>
      <div class="block-content collapse in">
        <div class="span12">
          <form class="form-horizontal" action="" method="post" id="{{form_id}}">{% csrf_token %} 
            {{ form.as_p }}                      
          </form>
            <p> {{grid | safe}} </p>
            <p><button type="buttom"  onclick="doPostForm('{{url_insert}}', '{{form_id}}', '{{url_list}}', false, '')" 
            class="btn btn-primary">Save</button>
            <button type="reset" class="btn">Cancel</button> </p>
            <input type="hidden" value="{{url_insert}}/" id="ownurl">
            <input type="hidden" value="{{url_list}}" id="listurl">
        </div>
      </div>
    </div>
    <!-- /block -->
  </div>
</div>
{% endblock %}

