{% load staticfiles %}
{% load i18n %}
{% load db_tags %}

  <div class="navbar-header">
    <a class="navbar-brand" href="/"><img src="{{ imagem.url }}">{{ p|get_info:"PROJECT_NAME" }}</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
  </div>
  <!-- /.navbar-header -->
  <ul class="nav navbar-top-links navbar-right">
    {% include 'menu_alert.html' %}
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li><a href="/Funcionario/update//"><i class="fa fa-user fa-fw"></i> Usuário</a>
        </li>
        <li class="divider"></li>
        <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
        </li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>