body{
   background-color:#E6E6E6;
}
.page{
   /*width : 90%;
   height : 180%;
   border : solid 1px black;
   margin : 3px auto;*/
   background-color:white;
}

.pageHeader, .masterBand, .pageFooter{
    display : inline;
	float: left;
	width: 100%;	
	/*border : solid 1px red;*/
}