{% extends 'base_insert.html' %}
{% block botoes %}

    <button type="buttom"  onclick="doPostForm('{{url_insert}}', '{{form_id}}', '', false, '')" 
      class="btn btn-outline btn-primary" id="btn-salvar-editar">Salvar</button>

    <button type="buttom" class="btn btn-outline btn-primary" id="btn-salvar-inserir"
      onClick="doPostForm('{{url_insert}}', '{{form_id}}', '{{url_insert}}', false, '')">Salvar e inserir</button>
              
    <button type="reset" class="btn btn-outline btn-danger" 
        onClick="window.location.assign('{{url_list}}')" id="btn-cancelar">Cancelar</button> 

{% endblock %}