{% extends 'simple_base.html' %}
{% load staticfiles %}
{% load db_tags %}

{% block js %}
    <script src="{% static 'js/vmsis-lib.js' %}"></script>    
    <script src="{% static 'js/base.js' %}"></script>        
    <script src="{% static 'js/base-ajax.js' %}"></script>        

    {% for media in JsFiles %}
      <script type="text/javascript" src='{% static media %}'></script>
    {% endfor %}
{% endblock %}

{% block conteudo %}
<div class="span9" id="content"> 
  <div class="row-fluid"> 
    <!-- block -->
    <div class="block"> 
      <div class="panel panel-default panel-customizado" id="main-panel">
        <div class="panel-heading">
          <h3 class="panel-title"><a id="header-title-link" href="{{url_list}}">{{ titulo }}</a> / Edição</h3>
        </div>
        <div class="panel-body">
          <div class="block-content collapse in">
            <div class="span12">  
              <form class="form-horizontal" action="" method="post" 
                id="{{form_id}}" sequence="{{form_pk}}" role="form">
                {%csrf_token%}     
                {% for field in form %}
                  {% if field.name in show_fields %}
                    <div class="fieldWrapper">
                      {{ field.errors }}
                      {{ field.label_tag }} </br>
                      {{ field|add_class:"form-control form-control-customizado inline" }}
                      {{ fks|get_fk:field.name | safe }}  
                      {{ fks|get_contextmenu:field.name | safe }}
                    </div>
                    {%endif%}
                  
                {% endfor %}                
              </form>    
              <p>{{grid | safe}}</p>
              <input type="hidden" value="{{url_update}}{{object.pk}}/" id="ownurl">
              <input type="hidden" value="{{url_list}}" id="listurl">
            </div>  
          </div>
        </div>
        <div class="panel-footer">        

          <button type="buttom"  onclick="doPostForm('{{url_update}}{{object.pk}}/', '{{form_id}}',
            '{{url_update}}{{object.pk}}', false, '')" 
            class="btn btn-outline btn-primary" id="btn-salvar-editar">Salvar</button>

          <button type="buttom"  onclick="doPostForm('{{url_update}}{{object.pk}}/', '{{form_id}}',
            '{{url_insert}}', false, '')" 
            class="btn btn-outline btn-primary" id="btn-salvar-inserir">Salvar e inserir</button>

<!--          <button type="buttom"  onclick="doPostForm('{{url_update}}{{object.pk}}/', '{{form_id}}',
            '{{url_list}}', false, '')" 
            class="btn btn-outline btn-primary" id="btn-salvar-listar">Salvar e listar</button> -->
            
          <button type="reset" class="btn btn-outline btn-danger"  id="btn-cancelar"
              onClick="window.location.assign('{{url_list}}')" >Cancelar</button>
        </div>
      </div>    
    </div> 
  </div> 
 </div> 
 <script type="text/javascript">
     vmsisLib.menuContext();
 </script>

{% endblock %}

{% block css %}
  {% for media in CssFiles %}
    <link rel="stylesheet" style="text/css" href="{% static  media %}" />
  {% endfor %}  
{% endblock %}