{% load staticfiles %}
{% load i18n %}

  <div class="navbar-header">
    <a class="navbar-brand" href="/"><img src="{% static 'img/vmsis-logo.png' %}"></a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- /.navbar-header -->
  <input type="hidden" value='{{funcionario.unidade}}' id="UnidadeEscolhida">
  <ul class="nav navbar-top-links navbar-right">
    <li>
      <select class="form-control" id="UnidadeSelecionada">
        {% for unidade in funcionario.unidades %}
          {% if unidade %}                
            <option value='{{unidade.id}}' selected>{{unidade.nome}}</option>
          {%endif%}
        {%endfor%}
      </select>
    </li>
    {% include 'menu_alert.html' %}
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li><a href="/funcionario/update/{{ funcionario.id }}/"><i class="fa fa-user fa-fw"></i> {{funcionario.nome}}</a>
        </li>
        <li class="divider"></li>
        <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
        </li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>