{% load staticfiles %}
{% load i18n %}

{% load db_tags %}

<!DOCTYPE html>
<html >
  <head>
    {% block cabecalho %}
      <title>VMSis - {{ p|get_info:"PROJECT_NAME" }}</title>
    {% endblock %}  
    <link rel=”shortcut icon” href="{% static 'img/vmsis-icov.ico' %}" />

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'components/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" media="screen">


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{% static 'components/font-awesome/css/font-awesome.min.css' %}" type="text/css" media="screen">

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'grid/grid.css' %}"> 

    <!-- jQuery -->
    <script src="{% static 'components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'components/jquery/dist/jquery.mask.min.js' %}"></script>

    <script src="{% static 'js/vmsis-lib.js' %}"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vmsis-lib.css' %}"> 
    {% block css %}
    {% endblock %}

  </head>
<body {% block tagbody %} {% endblock %} >
  <div id="filtro" class="popup" title="Filtro">

    <div class="popup-body no-top-margin popup-filter" style="padding-top: 0px">     
      <div  class="fixed-header" style="width:37.8%">
          <a class="page-close" href="javascript:void(0)" title="Fechar" onclick="vmsisLib.popup.closePopup('filtro')">X</a>
          <h4 class="title blue">Filtro</h4>          
          <div><button class="button button-blue radius full-width" id="btn-filtrar">OK</button></div>                 
      </div>
      <div class="content-filter auto-overflow" style="margin-top: 155px " >
      </div>
     
    </div>
  </div>

  {% block corpo %}
    <div id="wrapper">

      <!-- Page Content -->
      <div id="page-wrapper">
        <div class="container-fluid">          
          {% block conteudo %}
            <!-- <img src="{% static 'img/vmsis-logo.png' %}"> -->
          {% endblock %}
        </div>
        <!-- /.container-fluid -->
      </div>    
    </div>
    <!-- /#page-wrapper -->
  {% endblock %}    
  

    <!-- Grid Personalizado -->

    <script src="{% static 'grid/grid.js' %}"></script>    
    <script src="{% static 'grid/filtro.js' %}"></script>    
    
    <script src="{% static 'js/base.js' %}"></script>        
    <script src="{% static 'js/base-ajax.js' %}"></script>        

    <script src="{% static 'components/raphael/raphael-min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'components/metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript 
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>
-->
    <!-- Morris Charts JavaScript 
    <script src="{% static 'components/morrisjs/morris.min.js' %}"></script>

    <script src="{% static 'js/morris-data.js' %}"></script>
-->
    <script type="text/javascript">
        function submit(form){
          document.getElementById(form).submit();     
      }; 
    </script>
   {% block js %}
   {% endblock %}

  </body>
  {% block rodape %}
  {% endblock %}
</html>